
@{
    Layout = "~/Views/Shared/_Root.cshtml";
    }
@if (ViewBag.QuyenUser != 0)
{
  <div class="fixed">
            <div class="command">
                <ul>
                    <li><button id="btnDatPhong">Đặt phòng</button></li>
                     <li><button id="btnCheckIn">Check in</button></li>
                     <li><button id="btnCheckOut">Check out</button></li>
                    @if (ViewBag.QuyenUser == 1)
                    {
                        <li><a href="~/Admin/Index"><button id="btnAdmin">Admin</button></a></li>
                    }
                     <li><a href="~/Home/DangXuat"><button id="btnthoatct">Đăng xuất</button></a></li>
                         
                </ul>
            </div>
            <div class="clearboth"></div>
            <div class="filter">
                
                                  <div class="search">
                                    @*  <input type="button" id="btnGoToday" value="Hôm nay" />*@
                  Từ ngày <input type="text" class="datepicker" name="fromdate" /> 
                  đến ngày <input type="text" class="datepicker" name="todate" />
                  <button id="btnTimKiem">Tìm</button>
              </div>
            </div>
               
                </div>
            <div class="clearboth"></div>
            <div class="content" id="showBooking">
                
              @Html.Action("ShowBookingInfo")
            </div>
}
