@model QLKhachSanWeb.Models.CheckOutModel
<h1>Trả phòng</h1>
           
     @using(Html.BeginForm("InsertService", "Booking", FormMethod.Post, new {id="frmInsertService" }))
{       
                 <div class="pcontent">
                <table class="form">
                    <tr>
                        <td class="lb">Phòng:</td>
                        <td class="ct">
                           @Html.DropDownList("Room", Model.Rooms, new {id="ddlRoom" })
                        </td>
                    </tr>
                       <tr>
                       <td class="lb">Danh sách đặt phòng:</td>
                        <td class="ct">
                       
                          <select name="AddServiceModel.BookingInfoId" id="ddlListBooking" class="showbooking"></select>
                        </td>
                    </tr>
                        <tr>
                       <td class="lb">Thông tin chi tiết:</td>
                        <td class="ct" id="detail">
                           
                        </td>
                    </tr>
                   
                  
              
                </table>
                  <div id="listService"></div>
                <div class="submit-form">
                    <input type="button" id="btnPayment" value="Thanh toán"/>
                    <input type="button" id="btnCancel" value="Bỏ qua"/>
                </div>
            </div>
     }
