@model QLKhachSanWeb.Models.CheckInModel
<h1>Hủy đăng ký</h1>
           
            
                 <div class="pcontent">
                <table class="form">
                    <tr>
                        <td class="lb">Phòng:</td>
                        <td class="ct">
                           @Html.DropDownList("d", Model.Rooms, new {id="ddlRoom",@class="ddlRoomDestroy" })
                        </td>
                    </tr>
                     @*<tr>
                        <td class="lb">Ngày checkin:</td>
                        <td class="ct">
                         <input type="text"  id="filterDate" class="datepicker" />
                        </td>
                    </tr>*@
                       <tr>
                       <td class="lb">Danh sách đặt phòng:</td>
                        <td class="ct">
                          <select id="ddlListBooking"></select>
                        </td>
                    </tr>
                        <tr>
                       <td class="lb">Thông tin chi tiết:</td>
                        <td class="ct" id="detail">
                           
                        </td>
                    </tr>
              
                        <tr>
                       <td class="lb">Lý do hủy:</td>
                        <td class="ct">
                         <textarea id="deletedNote"></textarea>
                        </td>
                    </tr>
                  
              
                </table>
                <div class="submit-form">
                    <input type="button" id="btnDeleteBooking" value="Hủy/Xóa"/>
                    <input type="button" id="btnCancel" value="Bỏ qua"/>
                </div>
            </div>
            
