<!DOCTYPE html>
<html>
    <head>
        <title>Quản lý khách sạn</title>
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.simplemodal.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
  
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
        <link href="~/css/AdminStyles.css" rel="stylesheet" />
    </head>
<body>
<ul class="menu">

    <li><a href="~/Home/Index">Trang chủ</a></li>
    <li><a href="#">Quản lý phòng</a>
     <ul>
            <li><a href="~/Admin/ListServiceRoom" class="cap1">Danh sách</a></li>
            <li><a href="~/Admin/AddNewSeviceRoom" class="cap2">Thêm phòng</a></li>
            <li><a href="~/Admin/AddNewSevicetypeRoom" class="cap3">Loại phòng</a></li>
     </ul>
     </li>
    <li><a href="#">Quản lý nhân viên</a>
 
        <ul>
            <li><a href="~/Admin/ListUsers" class="cap1">Danh sách</a></li>
            <li><a href="~/Admin/AddUsers" class="cap2">Thêm mới</a></li>
        </ul>
 
    </li>
    <li><a href="#">Quản lý dịch vụ</a>
         <ul>
            <li><a href="~/Admin/ListService" class="cap1">Danh sách</a></li>
            <li><a href="~/Admin/AddNewSevice" class="cap2">Thêm mới</a></li>
     </ul>
    </li>
     <li><a href="~/Admin/ReportAddmin">Xem báo cáo</a></li>
     <li><a href="~/Admin/XemLog">Xem log hệ thống</a></li>
     <li><a href="~/Home/DangXuat">Đăng xuất</a></li>
 
</ul>
</body>
</html>
 @RenderBody()
