@{
    Layout = "~/Views/Shared/_AdminRoot.cshtml";
}
@model QLKhachSanWeb.Models.ServiceTypeModel
<div class="admin-form">
<h1>Thêm loại phòng mới cho khách sạn</h1>
       @using (Html.BeginForm())
       {
           <div>
               <table>
                   <tr>
                       <td>Tên loại phòng : </td>
                        <td>
                            @Html.EditorFor(x => x.Name)
                            @Html.ValidationMessageFor(x => x.Name)
                        </td>
                   </tr>
                   </table>
                 <div class="cmd">
                    <input type="submit" id="btnSave" value="Thêm mới"/>
                </div>
            </div>
       }
    </div>