@{
    Layout = "~/Views/Shared/_AdminRoot.cshtml";
}

@model List<QLKhachSanWeb.Models.UserModel>

<h1>Danh sách nhân viên</h1>
  <div>
    <table>
                    <tr>
                        <td >Họ và tên</td>
                        <td>Tên đăng nhập</td>
                         <td>Tên đăng nhập</td>
                        <td>Loại nhân viên</td>
                        <td>  </td>
                    </tr>
                    @foreach(QLKhachSanWeb.Models.UserModel team in Model)
                    {
                    <tr>
                        <td >@team.Name</td>
                        <td>@team.UserName</td>
                            @if (team.PermissonId==1)
                            {
                               <td>Quản lý</td>
                            }
                            else
                            {
                                 <td>Nhân viên</td>
                            }
                        <td>
                           @Html.ActionLink("Cập nhật","UpdateUser","Admin",new { team.Id },null)
                        </td>
                    </tr>
                    }
                </table>
  </div>