@{
    ViewBag.Title = "ReportAddmin";
    Layout = "~/Views/Shared/_AdminRoot.cshtml";
}
    
<div>
    <table>
        <tr>
            <td>
                  Từ ngày <input type="text" class="datepicker" name="fromdate" /> 
                 
            </td>
            <td>
                 đến ngày <input type="text" class="datepicker" name="todate" />
            </td>
            <td>
                 <button id="btnXemBaoCao">Xem Báo Cáo</button>
            </td>
        </tr>
    </table>
</div>
