@model QLKhachSanWeb.Models.RoomModel

<div class="tooltip">
    <span>Tên phòng:@Model.Name</span><br />
    <span>Loại phòng: @Model.TypeName</span><br />
    <span>Tầng: @Model.FloorNumber</span><br />
</div>
